@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

.Giant-container {
  display:flex;
  height: 100vh;
  width: 100vw;
  align-items:center;
 justify-content:center;
 flex-direction:column;
}
.Giant-container-p {
  padding: 0px 200px 0px 200px
}


.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 70px;
  overflow:hidden;
  background-color: rgb(161, 153, 180);
  position: fixed;
  align-content:center;
  display:flex;
  top: 0;
  width: 100%;
  height:60px;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;

}
.nav-bar {
  display:block;
  color:white;
  text-align: center;
  font-size:15px;

  padding: 19px 10px;
  background-color: rgb(161, 153, 180);
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  /* border-top: 10px solid rgb(121, 107, 155);

  border-bottom: 10px solid rgb(121, 107, 155); */
}
li {
  float:left;

}
li a {
}
.nav-bar:hover {
  border-bottom: 10px solid rgb(56, 26, 56)

}
li a:hover {
  /* background-color: rgb(180, 111, 169); */

}
/* button {
  background-color: rgb(121, 107, 155);
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  color:white;
  text-align:center;
  height: 55px;
  font-size: 17px;
  border-top: 10px solid rgb(121, 107, 155);

  border-bottom: 10px solid rgb(121, 107, 155);
}
button:hover {
  cursor:hand;
  border-bottom: 10px solid rgb(56, 26, 56)


} */

.problem-card {
  border: 9px solid purple;
  color: rgb(117, 76, 133);
  font-weight:bold;
  font-size: 50px;
  font-style: arial;
  text-shadow: 1px 1px 1px rgb(68, 68, 68);
  padding: 10px 0px 0px 0px;
  display:flex;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  text-align:center;
  justify-content: flex-start;
  flex-direction:column;
  /* align-items:flex-start; */
  /* animation-name: Problem-animation;
  animation-duration: 4s; */
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px #a19e9e;
  /* background-image: linear-gradient(to right, red,indigo,blueviolet, indigo, red) */
}
.card-top {
  background: rgb(121, 107, 155);
  font-family:"Carter One";
  position:relative;
  top:0;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 40px;
  justify-content:top;

}
.card-top p {
  margin: 0;
  padding: 0px 0px 0px 0px;
}
.question-answer {
  display:flex;
  font-family: "Carter One";

  justify-content:center;
  align-items:center;
}


input {
  font-size: 40px;
  font-weight: bold;
  border-radius: 40px;
  text-align:center;
  border-color: grey;
  font-family: "Carter One";
  /* border-top: 0; */
  
}
input:focus{
  border-radius: 40px;
  border-color: purple;
  border-style: solid;
  outline:none;
  border-width: 5px 5px 5px 5px

}
input[type="text"] {
  width: 100px;
  height:50px;
}
.star {
  width: 20px;
}

.ul-completedQ {
  list-style-type:none;
  position: fixed;
  bottom: 0;
  display:block;
  /* bottom: 1px;
  left: 2px; */
}
.li-completedQ {
  list-style-type:circle;
  color:white;
  width:100%;
  font-size: 15px;
}
h1 {
  font-family: "Carter One";
}
