.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5b7ab9;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display:flex;
  justify-content:center;
  align-items:center;
}
.Giant-container {
  display:flex;
  height: 100vh;
  width: 100vw;
  align-items:center;
 justify-content:center;
 flex-direction:column;
}
@keyframes Problem-animation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
.problem {
  border: 9px solid purple;
  color: white;
  font-weight:bold;
  font-size: 19px;
  font-style: arial;
  text-shadow: 2px 2px 5px rgb(68, 68, 68);
  padding: 50px;
  border-radius: 5px;
  height: 100px;
  width: 70px;
  text-align:center;
  justify-content:center;
  animation-name: Problem-animation;
  animation-duration: 4s;
  background: rgb(127, 155, 127);
  box-shadow: 5px 10px 8px #888888;
  /* background-image: linear-gradient(to right, red,indigo,blueviolet, indigo, red) */
}

input[type="text"] {
  width: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(121, 107, 155);
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float:left;

}
li a {
  display:block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(180, 111, 169);
}