@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

.title-banner {
  /* background-image: url(./assets/images/art-header.png); */
  
  color:white;
  text-shadow:1px 2px 1px black;
  justify-content:center;
  align-items: center;
}
.banner-container {
  display:flex;
  justify-content:center;
  align-items: center;
  /* background-color:rgb(122, 98, 122); */
  background-color: rgb(46 119 128);
  /* position:absolute; */
  padding:0px;
  top:0px;
  /* display:flex; */
  margin:0px;
  width:100vw;
  height: 100px;
}
.logo-banner {
  border-radius: 50%;
  width:60px;
  height:60px;
  background-color:rgb(255, 255, 255);
  box-shadow: 4px 2px 5px rgb(77, 77, 77);
}
.Giant-container {
  display:flex;
  height: 100vh;
  width: 100vw;
  background-color: #9db8bb;
  align-items:center;
 justify-content:flex-start;
 flex-direction:column;
}
.Giant-container p{
  padding: 0px 20% 0px 20%
}


.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 70px;
  overflow:hidden;
  background-color: rgb(161, 153, 180);
  position: fixed;
  align-content:center;
  display:flex;
  top: 0;
  width: 100%;
  height:60px;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;

}
.nav-bar {
  display:block;
  color:white;
  text-align: center;
  font-size:15px;

  padding: 19px 10px;
  background-color: rgb(161, 153, 180);
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  /* border-top: 10px solid rgb(121, 107, 155);

  border-bottom: 10px solid rgb(121, 107, 155); */
}
li {
  float:left;

}
li a {
}
.nav-bar:hover {
  border-bottom: 10px solid rgb(56, 26, 56)

}
li a:hover {
  /* background-color: rgb(180, 111, 169); */

}
/* button {
  background-color: rgb(121, 107, 155);
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
  color:white;
  text-align:center;
  height: 55px;
  font-size: 17px;
  border-top: 10px solid rgb(121, 107, 155);

  border-bottom: 10px solid rgb(121, 107, 155);
}
button:hover {
  cursor:hand;
  border-bottom: 10px solid rgb(56, 26, 56)


} */
.problem-card-container{
  display:flex;
  justify-content: center;
  background-color:#779e91;
  background-color: #dcdcdc;
  height: 100vh;
  width: 60vw
}
.problem-card {
  border: 10px solid #765c79;
  border: 10px solid #778f9e;
  /* color: rgb(117, 76, 133); */
  color:rgb(47 89 109);
  font-weight:bold;
  font-size: 70px;
  font-style: arial;
  text-shadow:1px 2px 1px black;  
  padding: 5px 0px 0px 0px;
  display:flex;
  border-radius: 30px;
  margin-top:100px;
  height: 400px;
  width: 600px;
  text-align:center;
  justify-content: flex-start;
  flex-direction:column;
  /* align-items:flex-start; */
  /* animation-name: Problem-animation;
  animation-duration: 4s; */
  background: white;
  /* z-index:2; */
  box-shadow: 20px 20px 20px #888585;  /* background-image: linear-gradient(to right, red,indigo,blueviolet, indigo, red) */
}
.card-title {
  font-family: "Cherry Cream Soda";
  text-align:center;
  font-size: 35px;
  /* background-color: #3f283f; */
  background-image: linear-gradient(to bottom right, rgb(56, 26, 56), rgb(117 67 130));
  color: white;
  /* z-index:0; */
  background-clip:content-box;
  padding:0px 0px 5px 0px;
  border-top-left-radius: 10px;    
  border-top-right-radius: 10px;

}
.card-title p {
  padding: 0px, 0px, 0px, 0px;
  border-top-left-radius: 10px;    
  border-top-right-radius: 10px;
  /* z-index:0; */
  margin: 0;
}
.card-top {
  font-family:"Yanone Kaffeesatz";
  position:relative;
  top:0;
  margin: 0;
  padding: 0;
  color: white;
  justify-content:top;
  font-size: 35px;
  /* background-color: #734173; */
  /* background-image: linear-gradient(to bottom right, rgb(110, 60, 129), rgb(198, 141, 212)); */
  background-image: linear-gradient(to bottom right, #734173, rgb(198, 141, 212));

}
.card-top p {
  margin: 0;
  padding: 0px 0px 0px 0px;

}
.question {
  width: 200px;
  padding: 0px 10px 0px 40px;
}
.question-answer {
  display:flex;
  font-family: "Ranchers";
  flex-grow:2;
  /* flex-wrap:nowrap; */
  justify-content:left;
  border-radius: 20px;
  align-items:center;
  text-shadow: 2px 2px 2px #bdb1b1
}


.tableData{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.tableData-container{
  width: 70vw;
  height: calc(100vh - 100px);
  background-color: #dcdcdc;
}
table {
  border: 10px solid #794080;
  font-size:30px;
  font-family:"Ranchers";
}
tbody{
  background-color: white;
}
th {
  background-color:#1e5d65;
  color: white;
  font-size: 30px;
  font-family:"Cherry Cream Soda"
}
tr:nth-child(even) {background-color: #c6e5e8;}

.table-accuracy {
  font-family:"Ranchers";

  /* 
  display:none */
}



.try-again {
  font-family:"Cherry Cream Soda";
  border: none;
  width: 120px;
  height: 50px;
  margin: 5px;
  background-color: rgb(150 121 150);
  border-radius: 10px;
  background-image: linear-gradient(
68deg
, #481048, transparent);
  color: white;

}
.try-again:hover {
  border-bottom:1px solid white;
  background-color:rgb(129, 55, 129);
  cursor:pointer;
}
input {
  font-size: 70px;
  font-weight: bold;
  border-radius: 40px;
  text-align:center;
  border-color: grey;
  border-style:solid;
  font-family: "Ranchers";
  color: rgb(117, 76, 133);
  text-shadow: 1px 2px 1px black;
}
input:focus{
  border-radius: 40px;
  border-color: purple;
  border-style: solid;
  outline:none;
  border-width: 5px 5px 5px 5px
}
input[type="text"] {
  width: 200px;
  height: 100px;
}


.answerCheck {
  font-size: 35px;
  color:green;
}
.star {
  width: 30px;
}

.ul-completedQ {
  list-style-type:none;
  position: fixed;
  bottom: 0;
  display:block;
  /* bottom: 1px;
  left: 2px; */
}
.li-completedQ {
  list-style-type:circle;
  color:white;
  width:100%;
  font-size: 15px;
}
h1 {
  font-family: "Cherry Cream Soda";
}

.ul-questiontype {
  display:flex;
  list-style-type:none;
  border:none;
  padding:0px;
}
.li-questiontype {
  padding: 0px 10px 0px 10px;
  margin: 0px 10px;
  background-color: rgb(90, 72, 100);

  /* background-image: linear-gradient(to bottom right, rgb(90, 72, 100), rgb(202, 182, 207)); */
  /* background-image: linear-gradient(to bottom right, rgb(202, 182, 207), rgb(90, 72, 100)); */
  background-image: linear-gradient(to bottom right, rgb(203 139 204), #4a2644);
  font-size: 55px;
  line-height: 3px;
  width: 65px;
  height: 60px;
  border: none;
  color: white;
  border-radius: 50%;
  font-family: "Cherry Cream Soda";
  box-shadow: 1px 2px 4px 1px #6b686b;
}
.li-questiontype:hover {
  /* background-color: rgb(167, 4, 167); */
  background-image: linear-gradient(to bottom right, rgb(136, 82, 150), rgb(69, 53, 78));

  cursor:pointer;
  /* box-shadow: 5px 2px 15px 2px #797979 */
  box-shadow: 1px 2px 4px 1px #6b686b;

}
.li-questiontype:focus {
  outline:none;
  background-image: linear-gradient(to bottom right, rgb(136, 82, 150), rgb(69, 53, 78));
}

@media(max-width:800px){
  .Giant-container p{
    padding: 0px 10% 0px 10%
  }
  .problem-card{
    width:350px;
  }
  .inputAnswer{
    margin-right:10px;
  }
  .question{
    padding-left:10px;
  }
  .card-title{
    height:50px;
  }
}